@tailwind base;
@tailwind components;

@font-face {
    font-family: 'trade';
    src: local('trade'), url('./fonts/trade.woff2') format('woff2');
}
@font-face {
    font-family: 'Gothic';
    src: local('Gothic'), url('./fonts/trade-gothic-condensed-no-18.otf') format('opentype');
}

@tailwind utilities;

@layer base {
    html {
      scroll-behavior: smooth;
    }
  }